html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --ff-inter: 'Inter', sans-serif;
  --white: #fff;
  --lightGrey: #ebf0ee;
  --grey: #d0d9d4;
  --lightGreen: #c5e9da;
  --lime: #36b37f;
  --green: #008552;
  --darkBlue: #344563;
  --darkerBlue: #172b4d;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 1.5rem;
  font-family: var(--ff-inter);
  font-size: 1rem;
  font-weight: 400;
  color: var(--darkBlue);
  background-color: var(--white);
}

.noscroll {
  overflow: hidden;
}

@keyframes grow {
  from {
    opacity: 0;
    scale: 0;
  }

  85% {
    opacity: 0;
    scale: 0;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }

  65% {
    opacity: 0;
    translate: 0 -1rem;
  }

  to {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes fade-slide-up {
  from {
    translate: 0 1rem;
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  35% {
    opacity: 0;
    translate: 0 1rem;
  }

  to {
    opacity: 1;
    translate: 0 0;
  }
}

/* Header menu keyframes */

@keyframes menu-open {
  from {
    visibility: hidden;
    opacity: 0;
  }

  1% {
    visibility: visible;
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes menu-close {
  from {
    visibility: visible;
    opacity: 1;
  }

  99% {
    visibility: visible;
    opacity: 0;
  }

  to {
    visibility: hidden;
    opacity: 0;
  }
}

h1,
h2,
h3,
h4 {
  color: var(--darkerBlue);
  margin: 0;
}

a,
a::before,
a::after {
  text-decoration: none;
  color: inherit;
}

p {
  margin-top: 0;
}

.section {
  text-align: center;
}

.section__title {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.25rem;
}

.section__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
}

.section__cta {
  --pressed: #008552;

  padding: 0.5rem 0.75rem;
  display: inline-block;
  color: var(--white);
  background-color: var(--lime);
  border-radius: 0.25rem;
  transition: background-color 150ms ease-in-out, box-shadow 150ms ease-in-out;
}

.section__cta:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.section__cta:active {
  background-color: var(--pressed);
}

.section__card {
  position: relative;
  padding: 0.75rem;
  margin: 0 auto;
  width: 100%;
  max-width: 23.0625rem;
  border-radius: 0.5rem;
  border: solid 2px var(--grey);
  background-color: var(--lightGrey);
  overflow: hidden;
}

.section__card-title {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
}

.section__card-btns {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.section__card-btn {
  display: inline-block;
  padding: 0.5rem 0.75rem;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.03em;
  background-color: var(--btn-bg);
  border-radius: 0.25rem;
  transition: background-color 150ms ease-in-out, box-shadow 150ms ease-in-out;
}

.section__card-btn:hover {
  background-color: var(--btn-hover);
  box-shadow: 0 8px 16px rgba(208, 217, 212, 0.5);
}

.section__card-btn:active {
  background-color: var(--btn-pressed);
}

@media (min-width: 40em) {
  .section__grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 64em) {
  .section__grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.container {
  max-width: 90rem;
  margin: auto;
}

.container-pall {
  padding: 1.5rem;
}

.container-px {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--white);
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* When the menu button is clicked */
.open {
  animation: menu-open 150ms ease-in-out 0ms 1 forwards;
}

/* When the cancel-menu button is clicked */
.close {
  animation: menu-close 150ms ease-in-out 0ms 1 forwards;
}

.header__logo {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: var(--darkerBlue);
  transition: color 150ms ease-in-out;
}

.header__logo:hover {
  color: var(--lime);
}

.header__links {
  display: none;
  padding: 0;
  margin: 0;
  list-style: none;
}

.header__link {
  display: inline-block;
  position: relative;
  font-weight: 600;
  line-height: 1.25rem;
  transition: color 150ms ease-in-out;
}

.header__link::before {
  content: '';
  position: absolute;
  top: 1rem;
  left: 50%;
  translate: -50%;
  width: 0.25rem;
  height: 0.25rem;
  background-color: var(--lime);
  border-radius: 10rem;
  opacity: 0;
  transition: top 150ms ease-in-out, opacity 150ms ease-in-out, width 150ms 165ms ease-in-out;
}

.header__link:hover {
  color: var(--lime);
}

.header__link:hover::before {
  top: 2.625rem;
  opacity: 1;
  width: 100%;
}

.header__hamburger {
  border: 0;
  padding: 0;
  line-height: 11px;
  background-color: inherit;
  cursor: pointer;
  transition: background-color 150ms ease-in-out;
}

.header__hamburger:hover {
  background-color: var(--lightGreen);
}

.header__menu {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  text-align: end;
  background-color: var(--white);
  border-radius: 0 0 1rem 1rem;
}

.header__menu-btn {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 150ms ease-in-out;
}

.header__menu-btn:hover {
  background-color: var(--lightGreen);
}

.header__menu-content {
  padding: 0.875rem 0 0;
  list-style: none;
  text-align: left;
  height: 70vh;
}

.header__menu-link {
  display: inline-block;
  position: relative;
  font-size: 2rem;
  color: var(--darkerBlue);
  width: 100%;
  left: 0;
  padding: 1.25rem;
  font-weight: 600;
  transition: color 150ms ease-in-out, left 150ms ease-in-out;
}

.header__menu-link:hover {
  color: var(--lime);
  left: 2rem;
}

@media (min-width: 64em) {
  .header__nav {
    justify-content: center;
  }

  .header__logo {
    display: none;
  }

  .header__links {
    display: flex;
    gap: 2rem;
  }

  .header__hamburger-btn {
    display: none;
  }
}

.overlay {
  visibility: hidden;
  position: absolute;
  top: -80px;
  right: 0;
  bottom: -140px;
  left: 0;
  background-color: rgba(61, 74, 69, 0.591);
  backdrop-filter: blur(5px);
  z-index: 999;
}

.intro {
  margin-top: 4.75rem;
}

.intro .container {
  padding-top: 4rem;
  background-image: url('images/header-illsutration-mobile.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.intro__title {
  animation: fade-slide-up 2000ms ease-in-out 1 forwards;
}

.intro__title span {
  color: var(--lime);
  display: block;
}

.intro__description {
  margin: 0 auto;
  max-width: 51.5625rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  animation: fade-slide-up 3000ms ease-in-out 1 forwards;
}

.intro__social {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.intro__social li:first-child {
  animation: appear 4000ms ease-in-out 1 forwards;
}

.intro__social li:nth-child(2) {
  animation: appear 5000ms ease-in-out 1 forwards;
}

.intro__social li:last-child {
  animation: appear 6000ms ease-out 1 forwards;
}

.intro__social-icon {
  transition: 150ms fill ease-in-out;
}

.intro__social-link:hover .intro__social-icon {
  fill: var(--lime);
}

.intro__down-btn {
  display: inline-block;
  padding: 0.5rem;
  line-height: 0;
  border: solid 1px var(--darkBlue);
  border-radius: 50%;
  transition: 150ms background-color ease-in-out;
  animation: grow 5000ms ease-in-out 1 forwards;
}

.intro__down-btn:hover {
  background-color: var(--lightGreen);
}

@media (min-width: 40em) {
  .intro__title {
    font-weight: 800;
    font-size: 3rem;
    line-height: 3.75rem;
    letter-spacing: 0.37px;
  }

  .intro__description {
    line-height: 2rem;
  }
}

@media (min-width: 64em) {
  .intro .container {
    justify-content: flex-start;
    gap: 1.75rem;
    padding-top: 10rem;
    background-image: url('images/Header-llustration-desktop.svg');
  }

  .intro__down-btn {
    margin-top: 4.625rem;
  }
}

.project {
  padding-top: 4rem;
}

.project__title {
  position: relative;
  margin-bottom: 5.625rem;
}

.project__title::before {
  content: '';
  position: absolute;
  bottom: -1.5rem;
  left: 50%;
  translate: -50%;
  height: 0.25rem;
  width: 3rem;
  background-color: var(--lime);
  border-radius: 3rem;
}

.project__card {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 29.625rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  top: 0;
  transition: 200ms box-shadow ease-in-out, 200ms top ease-in-out;
}

.project__card:first-child {
  background-image: url('images/Awesome-book-card.svg');
}

.project__card:nth-child(2) {
  background-image: url('images/ALT-conference-card.svg');
}

.project__card:nth-child(3) {
  background-image: url('images/project-1-img.svg');
}

.project__card:nth-child(4) {
  background-image: url('images/project-1-img.svg');
}

.project__card:nth-child(5) {
  background-image: url('images/project-1-img.svg');
}

.project__card:nth-child(6) {
  background-image: url('images/project-1-img.svg');
}

.project__card:hover,
.project__card:focus-within {
  top: -1rem;
  box-shadow: 0 6px 20px 3px rgba(0, 0, 0, 0.15);
}

.project__card-text {
  padding: 0.6875rem;
  background-color: var(--white);
  border-radius: 0.5rem 0.5rem 0 0;
}

.project__card-title {
  margin-bottom: 1rem;
}

.project__card-btns {
  --btn-bg: var(--lightGrey);
  --btn-hover: var(--grey);
  --btn-pressed: var(--lightGreen);
}

.project__cta {
  margin-top: 1.875rem;
  margin-bottom: 0.8125rem;
}

.popup {
  visibility: hidden;
  position: absolute;
  padding-top: 2rem;
  text-align: left;
  width: 85%;
  left: 50%;
  translate: -50%;
  z-index: 1010;
}

.project__details {
  padding: 1rem;
  height: 85vh;
  overflow-y: scroll;
  background-color: var(--white);
  border: 2px solid var(--grey);
  border-radius: 0.5rem;
}

.project__details-cancel {
  text-align: right;
}

.project__details-cancel-icon {
  padding: 0.25rem;
  border-radius: 0.35rem;
  cursor: pointer;
  background-color: var(--white);
  transition: background-color 150ms ease-in-out;
}

.project__details-cancel-icon:hover {
  background-color: rgb(247, 57, 57);
}

.project__details-featured {
  padding: 1rem;
  border-radius: 0.4rem;
  background-color: var(--lightGrey);
}

.project__details-featured-image {
  width: 100%;
  border-radius: 0.3rem;
}

.project__feature-title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.75rem;
}

.project__details-text {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.75rem;
}

.project__details-languages {
  justify-content: start;
}

.project__details-language {
  --btn-bg: var(--lightGrey);
  --btn-hover: var(--grey);
  --btn-pressed: var(--lightGreen);
}

.project__details-description {
  margin: 0;
}

.project__details-ctas {
  display: flex;
  gap: 0.75rem;
}

.project__details-cta {
  width: max-content;
  height: max-content;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

@media (min-width: 40em) {
  .project {
    padding-top: 8.5rem;
  }

  .project__title {
    position: relative;
    margin-bottom: 3.25rem;
  }

  .project__title::before {
    display: none;
  }

  .popup {
    padding-top: 4rem;
  }

  .project__details {
    padding: 1.5rem;
    height: 80vh;
  }
}

@media (min-width: 64em) {
  .project__details-text {
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-gap: 1.25rem;
    padding-top: 1.5rem;
  }

  .project__feature-title {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .project__details-ctas {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .project__details-languages {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .project__details-description {
    max-width: 70%;
    grid-column: 1/3;
    grid-row: 3/4;
    padding-top: 0.75rem;
  }
}

.about {
  padding-top: 1.125rem;
}

.about__text {
  padding: 0.5625rem 0;
  background: url('images/illustration-about-me-mobile.svg'), url('images/illustration1-about-me-mobile.svg');
  background-position: left bottom, right top;
  background-repeat: no-repeat;
}

.about__title {
  padding-top: 2.5625rem;
}

.about__description {
  max-width: 37.5rem;
  margin: 1.5rem auto;
}

.about__grid {
  padding-top: 2.5rem;
}

.about__card {
  background-color: rgba(235, 240, 238, 0.5);
  transition: 200ms box-shadow ease-in-out, 200ms background-color ease-in-out, 200ms background-size ease-in-out;
}

.about__card::before {
  content: '';
  position: absolute;
  inset: 0;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  z-index: -1;
  transition: background-size 200ms ease-in-out;
}

.about__card:first-child::before {
  background-image: url('images/languages-bg.jpg');
}

.about__card:nth-child(2)::before {
  background-image: url('images/framework-bg.jpg');
}

.about__card:last-child::before {
  background-image: url('images/skills-bg.jpg');
}

.about__card:hover,
.about__card:focus-within {
  background-color: rgba(235, 240, 238, 0.7);
  background-size: 110%;
  box-shadow: 0 6px 20px 3px rgba(0, 0, 0, 0.15);
}

.about__card:hover::before {
  background-size: 110%;
}

.about__card img {
  margin: 1.75rem 0;
}

.about__card-title {
  margin-bottom: 1.5rem;
}

.about__card-btns {
  --btn-bg: var(--white);
  --btn-hover: var(--lightGreen);
  --btn-pressed: var(--lime);
}

@media (min-width: 40em) {
  .about {
    padding-top: 5.5rem;
  }

  .about__text {
    padding: 0.5625rem 0;
    background: url('images/illustration-about-me-2-desktop.svg'), url('images/illustration-about-me-1-desktop.svg');
    background-position: left bottom, right top;
    background-repeat: no-repeat;
  }

  .about__title {
    padding-top: 4.5rem;
  }
}

.footer {
  padding-top: 4.25rem;
  text-align: center;
}

.footer__title {
  margin-bottom: 3.75rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 550px;
}

.footer__form {
  --focus: var(--darkBlue);
  --valid: var(--lime);
  --invalid: #f71a1a;

  max-width: 37.5rem;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.footer__form-control label {
  display: block;
  font-weight: 500;
  text-align: left;
  margin: 0.25rem 0;
  opacity: 0;
  transition: opacity 1000ms ease-in-out;
}

.footer__form-control:focus-within label {
  opacity: 1;
}

.footer__form-input {
  width: 100%;
  padding: 1rem;
  border: solid 2px var(--grey);
  border-radius: 0.25rem;
  font-family: inherit;
  font-weight: inherit;
  transition: border 150ms ease-in-out, outline 150ms ease-in-out, outline-offset 150ms ease-in-out;
}

.footer__form-input:focus {
  border: solid 2px var(--focus);
  outline-offset: 2px;
  outline: solid 2px var(--grey);
}

.footer__form-control textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 7.125rem;
  max-height: 7.125rem;
}

.footer__form-control.valid input {
  border: 2px solid var(--valid);
}

.footer__form-control.invalid input {
  border: 2px solid var(--invalid);
}

.footer__form-error-msg {
  color: var(--invalid);
  font-size: 0.85rem;
  height: 1.5rem;
}

.footer__form-button {
  --pressed: #008552;

  margin-top: 1.5rem;
  padding: 0.75rem;
  font-family: inherit;
  font-size: 1.0625rem;
  font-weight: 500;
  color: var(--white);
  background-color: var(--lime);
  border-radius: 0.25rem;
  border: 0;
  cursor: pointer;
  transition: background-color 150ms ease-in-out, box-shadow 150ms ease-in-out;
}

.footer__form-button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.footer__form-button:active {
  background-color: var(--pressed);
}

.footer__social {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  margin-top: 2.875rem;
}

.footer__social-icon {
  transition: fill 150ms ease-in-out;
}

.footer__social-link:hover .footer__social-icon {
  fill: var(--lime);
}

.footer__email {
  font-family: inherit;
  height: 12.5rem;
  margin-bottom: 8.75rem;
}

@media (min-width: 40em) {
  .footer {
    padding-top: 6.75rem;
  }
}

@media (min-width: 64em) {
  .footer {
    text-align: left;
  }

  .footer__flexbox {
    padding-bottom: 14.0625rem;
    padding-left: 10vw;
    padding-right: 10vw;
    align-items: center;
    background: url('images/cf-1-desktop.svg'), url('images/cf-bg-2-desktop.svg'), url('images/cf-bg-3-desktop.svg');
    background-position: left bottom, 20% 80%, right bottom;
    background-repeat: no-repeat;
    display: flex;
    gap: 2rem;
    border-bottom: solid 1px var(--grey);
  }

  .footer__title {
    margin-bottom: 1rem;
    font-size: 1.875rem;
    max-width: none;
    height: max-content;
    flex: 1;
  }

  .footer__form {
    max-width: none;
    margin: 0;
    flex: 1 11%;
  }

  .footer__email {
    display: none;
  }

  .footer__social {
    margin: 1.5625rem 0;
  }
}
