html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --ff-inter: 'Inter', sans-serif;
  --white: #fff;
  --lightGrey: #ebf0ee;
  --grey: #d0d9d4;
  --lightGreen: #c5e9da;
  --lime: #36b37f;
  --green: #008552;
  --darkBlue: #344563;
  --darkerBlue: #172b4d;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
  font-family: var(--ff-inter);
  font-size: 1rem;
  font-weight: 400;
  color: var(--darkBlue);
  background-color: var(--white);
}

h1,
h2,
h3,
h4 {
  color: var(--darkerBlue);
  margin: 0;
}

a,
a::before,
a::after {
  text-decoration: none;
  color: inherit;
}

p {
  margin-top: 0;
}

.section {
  text-align: center;
}

.section__title {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.25rem;
}

.section__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1.5rem;
}

.section__card {
  padding: 0.75rem;
  margin: 0 auto;
  width: 100%;
  max-width: 20.625rem;
  border-radius: 0.5rem;
  background-color: var(--lightGrey);
  border: solid 2px var(--grey);
}

.section__card-title {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
}

.section__card-btns {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.section__card-btns .btn {
  display: inline-block;
  padding: 0.5rem 0.75rem;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.03em;
  border-radius: 0.25rem;
  transition: background-color 150ms ease-in-out, box-shadow 150ms ease-in-out;
}

.container {
  max-width: 90rem;
  margin: auto;
}

.container-pall {
  padding: 1.5rem;
}

.container-px {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.header {
  background-color: var(--white);
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: var(--darkerBlue);
  transition: color 150ms ease-in-out;
}

.header__logo:hover {
  color: var(--lime);
}

.header__links {
  display: none;
  padding: 0;
  margin: 0;
  list-style: none;
}

.header__link {
  display: inline-block;
  position: relative;
  font-weight: 600;
  line-height: 1.25rem;
  transition: color 150ms ease-in-out;
}

.header__link::before {
  content: '';
  position: absolute;
  top: 1rem;
  left: 50%;
  translate: -50%;
  width: 0.25rem;
  height: 0.25rem;
  background-color: var(--lime);
  border-radius: 10rem;
  opacity: 0;
  transition: top 150ms ease-in-out, opacity 150ms ease-in-out, width 150ms 165ms ease-in-out;
}

.header__link:hover {
  color: var(--lime);
}

.header__link:hover::before {
  top: 2.625rem;
  opacity: 1;
  width: 100%;
}

.header__hamburger {
  border: 0;
  padding: 0;
  line-height: 11px;
  background-color: inherit;
  cursor: pointer;

  transition: background-color 150ms ease-in-out;
}

.header__hamburger:hover {
  background-color: var(--lightGreen);
}

@media (min-width: 40em) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }

  .header__nav {
    justify-content: center;
  }

  .header__logo {
    display: none;
  }

  .header__links {
    display: flex;
    gap: 2rem;
  }

  .header__hamburger-btn {
    display: none;
  }
}

.intro .container {
  padding-top: 4rem;
  background-image: url('images/header-illsutration-mobile.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.intro__title span {
  color: var(--lime);
  display: block;
}

.intro__description {
  margin: 0 auto;
  max-width: 51.5625rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.intro__social {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.intro__social a svg path {
  transition: 150ms fill ease-in-out;
}

.intro__social a:hover svg path {
  fill: var(--lime);
}

.intro__down-btn {
  display: inline-block;
  padding: 0.5rem;
  line-height: 0;
  border: solid 1px var(--darkBlue);
  border-radius: 50%;
  transition: 150ms background-color ease-in-out;
}

.intro__down-btn:hover {
  background-color: var(--lightGreen);
}

@media (min-width: 40em) {
  .intro .container {
    padding-top: 10rem;
    justify-content: flex-start;
    gap: 1.75rem;
    background-image: url('images/Header-llustration-desktop.svg');
  }

  .intro__title {
    font-weight: 800;
    font-size: 3rem;
    line-height: 3.75rem;
    letter-spacing: 0.37px;
  }

  .intro__description {
    line-height: 2rem;
  }

  .intro__down-btn {
    margin-top: 4.625rem;
  }
}

.project {
  padding-top: 1.375rem;
}

.project__title {
  position: relative;
  margin-bottom: 5.625rem;
}

.project__title::before {
  content: '';
  position: absolute;
  bottom: -1.5rem;
  left: 50%;
  translate: -50%;
  height: 0.25rem;
  width: 3rem;
  background-color: var(--lime);
  border-radius: 3rem;
}

.project__card {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 29.625rem;
}

.project__card-text {
  padding: 0.6875rem;
  background-color: var(--white);
  border-radius: inherit;
}

.project__card-languages {
  margin: 1rem 0;
}

.project__card-languages .btn {
  background-color: var(--lightGrey);
}

.project__card-btn .button {
  --pressed: #008552;

  margin: 1.8125rem 0 0.75rem;
  padding: 0.5rem 0.75rem;
  display: inline-block;
  color: var(--white);
  background-color: var(--lime);
  border-radius: 0.25rem;
  transition: background-color 150ms ease-in-out, box-shadow 150ms ease-in-out;
}

.project__card-btn .button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.project__card-btn .button:active {
  background-color: var(--pressed);
}

.about {
  margin-top: 1.125rem;
}

.about__text {
  padding: 0.5625rem 0;
  background: url('images/illustration-about-me-mobile.svg'), url('images/illustration1-about-me-mobile.svg');
  background-position: left bottom, right top;
  background-repeat: no-repeat;
}

.about__title {
  padding-top: 2.5625rem;
}

.about__description {
  max-width: 37.5rem;
  margin: 1.5rem auto;
}

.about__grid {
  padding-top: 2.5rem;
}

.about__card {
  border-radius: 0.5rem;
  background-color: var(--lightGrey);
  border: solid 2px var(--grey);
}

.about__card img {
  margin: 1.75rem 0;
}

.about__card-title {
  margin-bottom: 1.5rem;
}

.about__card-btns {
  margin: 0;
  justify-content: center;
  gap: 0.5rem;
}

.about__card-btns .btn {
  background-color: var(--white);
}

.project__card-languages .btn:hover {
  background-color: var(--grey);
  box-shadow: 0 8px 16px rgba(208, 217, 212, 0.5);
}

.about__card-btns .btn:hover {
  background-color: var(--lightGreen);
  box-shadow: 0 8px 16px rgba(208, 217, 212, 0.5);
}

.project__card-languages .btn:active {
  background-color: var(--lightGreen);
}

.about__card-btns .btn:active {
  background-color: var(--lime);
}

.footer {
  padding-top: 3.75rem;
  text-align: center;
}

.footer__title {
  margin-bottom: 3.75rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 550px;
}

.footer__form {
  max-width: 37.5rem;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.footer__form-control input,
.footer__form-control textarea {
  width: 100%;
  padding: 1rem;
  border: solid 1px var(--grey);
  border-radius: 0.25rem;
  font-family: inherit;
  font-weight: inherit;
}

.footer__form-control label {
  display: block;
  text-align: left;
  opacity: 0;
}

.footer__form-control textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 7.125rem;
  max-height: 7.125rem;
}

.footer__form-button {
  --pressed: #008552;

  margin-top: 1.5rem;
  padding: 0.75rem;
  font-family: inherit;
  font-size: 1.0625rem;
  font-weight: 500;
  color: var(--white);
  background-color: var(--lime);
  border-radius: 0.25rem;
  border: 0;
  cursor: pointer;
  transition: background-color 150ms ease-in-out, box-shadow 150ms ease-in-out;
}

.footer__form-button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.footer__form-button:active {
  background-color: var(--pressed);
}

.footer__social {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  margin-top: 2.875rem;
}

.footer__email {
  font-family: inherit;
  height: 12.5rem;
  margin-bottom: 8.75rem;
}
