html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --ff-inter: 'Inter', sans-serif;
  --white: #fff;
  --lightGrey: #ebf0ee;
  --grey: #d0d9d4;
  --lightGreen: #c5e9da;
  --lime: #36b37f;
  --green: #008552;
  --darkBlue: #344563;
  --darkerBlue: #172b4d;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
  font-family: var(--ff-inter);
  font-size: 1rem;
  font-weight: 400;
  color: var(--darkBlue);
  background-color: var(--white);
}

h1,
h2,
h3,
h4 {
  color: var(--darkerBlue);
  margin: 0;
}

a,
a::before,
a::after {
  text-decoration: none;
  color: inherit;
}

p {
  margin-top: 0;
}

.container {
  max-width: 90rem;
  margin: auto;
}

.container-pall {
  padding: 1.5rem;
}

.container-px {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.container-py {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page__sub-title {
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.25rem;
}

.header__logo {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: var(--darkerBlue);
}

.header__hamburger-btn {
  border: 0;
  background-color: inherit;
  cursor: pointer;
}

.intro .container {
  background-image: url('images/header-illsutration-mobile.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.intro__title {
  padding-top: 4rem;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.25rem;
}

.intro__title span {
  color: var(--lime);
  display: block;
}

.intro__description {
  margin: 1rem auto;
  max-width: 37.5rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.intro__social {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.intro__social a svg path {
  transition: 150ms fill ease-in-out;
}

.intro__social a:hover svg path {
  fill: var(--lime);
}

.intro__down-btn {
  display: inline-block;
  padding: 0.5rem;
  line-height: 0;
  border: solid 1px var(--darkBlue);
  border-radius: 50%;
  transition: 150ms background-color ease-in-out;
}

.intro__down-btn:hover {
  background-color: var(--lightGreen);
}

.project {
  margin-top: 1.375rem;
}

.project__title {
  position: relative;
  margin-bottom: 5.625rem;
}

.project__title::before {
  content: '';
  position: absolute;
  bottom: -1.5rem;
  left: 50%;
  translate: -50%;
  height: 0.25rem;
  width: 3rem;
  background-color: var(--lime);
  border-radius: 3rem;
}

.project__card {
  height: 29.625rem;
  border-radius: 0.5rem;
  background-color: var(--lightGrey);
  border: solid 2px var(--grey);
}
