// Intro section dropdown button keyframes
@keyframes rotate-fade {
  from {
    perspective: 1000px;
    opacity: 0;
    rotate: y -90deg;
  }

  50% {
    opacity: 1;
  }

  to {
    perspective: 1000px;
    opacity: 1;
    rotate: y 0deg;
  }
}
