@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&family=Pacifico&display=swap');

html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 4.5rem;
  scrollbar-gutter: stable;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  // Font family
  --ff-montserrat: 'Montserrat', 'Inter', sans-serif;
  --ff-pacifico: 'Pacifico', cursive;
  // Colors
  --opaqueWhite: #fffc;
  --opaqueDark: hsla(219, 59%, 6%, 0.025);
  --white: #fff;
  --lightGrey: #ebf0ee;
  --grey: #d0d9d4;
  --midGrey: #8e9691;
  --darkGrey: #656c67;
  --lightGreen: #c5e9da;
  --opaqueGreen: #00855247;
  --lime: #36b37f;
  --green: #008552;
  --pressed: #006c3a;
  --darkBlue: #344563;
  --darkerBlue: #172b4d;
  // Box shadows
  --shadow1: 0 8px 16px rgba(22, 69, 49, 0.15);
  --shadowLime1: 0 8px 16px rgba(54, 179, 127, 0.25);
  --shadowLime2: 0 16px 32px rgba(54, 179, 127, 0.3);
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 1.5rem;
  font-family: var(--ff-montserrat);
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--darkGrey);
  background-color: var(--white);

  @media (min-width: 64em) {
    font-size: 1rem;
  }

  &::-webkit-scrollbar {
    width: 0.75rem;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--white);
    border-radius: 5rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--grey);
    border-radius: 5rem;
    border: 3px solid var(--white);
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--darkBlue);
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: var(--darkerBlue);
  }
}

.noscroll {
  overflow: hidden;
}

.overlay {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #0085526a;
  backdrop-filter: blur(5px);
  z-index: 999;
}

/* When the menu button is clicked */
.open {
  animation: appear 150ms ease-in-out 0ms 1 forwards;
}

/* When the cancel-menu button is clicked */
.close {
  animation: disappear 150ms ease-in-out 0ms 1 forwards;
}
