html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --ff-inter: 'Inter', sans-serif;
  --white: #fff;
  --lightGrey: #ebf0ee;
  --grey: #d0d9d4;
  --lightGreen: #c5e9da;
  --lime: #36b37f;
  --green: #008552;
  --darkBlue: #344563;
  --darkerBlue: #172b4d;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 1.5rem;
  font-family: var(--ff-inter);
  font-size: 1rem;
  font-weight: 400;
  color: var(--darkBlue);
  background-color: var(--white);
}

.noscroll {
  overflow: hidden;
}

.overlay {
  visibility: hidden;
  position: absolute;
  top: -80px;
  right: 0;
  bottom: -140px;
  left: 0;
  background-color: rgba(61, 74, 69, 0.591);
  backdrop-filter: blur(5px);
  z-index: 999;
}

/* When the menu button is clicked */
.open {
  animation: menu-open 150ms ease-in-out 0ms 1 forwards;
}

/* When the cancel-menu button is clicked */
.close {
  animation: menu-close 150ms ease-in-out 0ms 1 forwards;
}
