.darkmode {
  --opaqueWhite: #060d18cc;
  --opaqueDark: hsla(0, 0%, 100%, 0.025);
  --white: #060c17; // extraDarkBlue
  --lightGrey: #0e1b31; // veryDarkBlue
  --grey: #172b4d; // darkBlue
  --darkGrey: #a4aaa6; // midGrey
  --darkBlue: #d0d9d4; // grey
  --darkerBlue: #ebf0ee; // lightGrey
}
