.footer {
  text-align: center;

  @media (min-width: 64em) {
    text-align: left;
  }

  > .container {
    position: relative;
    background:
      url('../../images/cf-1-desktop.svg'),
      url('../../images/cf-bg-2-desktop.svg'),
      url('../../images/cf-bg-3-desktop.svg');
    background-position: left bottom, 20% 80%, right bottom;
    background-repeat: no-repeat;
  }

  &__flexbox {
    position: relative;
    padding: 2.5rem 0;
    margin: 0 auto;
    max-width: 70rem;
    align-items: flex-start;

    @media (min-width: 64em) {
      display: flex;
      gap: 3rem;
      padding: 5rem 0;
    }
  }

  &__header {
    flex: 0.75;

    @media (min-width: 64em) {
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-start;
      align-items: flex-start;
      padding-top: 1.75rem;
    }
  }

  &__title {
    margin: 0 auto;
    max-width: 37.5rem;
    line-height: 3.25rem;

    @media (min-width: 64em) {
      font-size: 1.875rem;
      max-width: none;
      // height: max-content;
      text-shadow:
        -1px -1px 0 var(--white),
        1px -1px 0 var(--white),
        -1px 1px 0 var(--white),
        1px 1px 0 var(--white);
    }
  }

  &__form {
    --focus: var(--darkBlue);
    --valid: var(--lime);
    --invalid: #f71a1a;

    max-width: 37.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;

    @media (min-width: 64em) {
      max-width: none;
      margin: 0;
      flex: 1 11%;
    }

    &-flexbox {
      @media (min-width: 40em) {
        display: flex;
        gap: 1.5rem;
      }
    }

    &-control {
      @media (min-width: 40em) {
        flex: 1;
      }

      label {
        display: block;
        font-weight: 500;
        text-align: left;
        margin: 0.25rem 0;
        opacity: 0;
        transition: opacity 1000ms ease-in-out;
      }

      &:focus-within label {
        opacity: 1;
      }

      textarea {
        resize: none;
        height: 6.25rem;
      }

      &.valid input {
        border: 2px solid var(--valid);
      }

      &.invalid input {
        border: 2px solid var(--invalid);
      }
    }

    &-input {
      width: 100%;
      padding: 0.75rem 1rem;
      border: solid 2px var(--grey);
      border-radius: 0.25rem;
      font-family: inherit;
      font-weight: inherit;
      color: inherit;
      background-color: var(--opaqueWhite);
      transition:
        border 150ms ease-in-out,
        outline 150ms ease-in-out,
        outline-offset 150ms ease-in-out;

      &:focus {
        border: solid 2px var(--focus);
        outline-offset: 2px;
        outline: solid 2px var(--grey);
      }
    }

    &-error-msg {
      color: var(--invalid);
      font-size: 0.85rem;
      height: 1.5rem;
    }

    &-button {
      margin-top: 1rem;
      padding: 0.75rem 1.5rem;
    }
  }

  &__bottom {
    border-top: solid 1px var(--lightGrey);
    font-size: 0.875rem;

    .container {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      align-items: center;

      @media (min-width: 40em) {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
      }
    }
  }

  &__sitemap {
    &-links {
      display: flex;
      align-items: center;
      gap: 1.5rem;
    }

    &-link {
      font-weight: 500;
      transition: color 150ms ease-in-out;

      &:hover {
        color: var(--darkBlue);
      }
    }
  }

  &__copy {
    margin: 0;
  }
}
