.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--white);
  box-shadow: 0 8px 16px rgba(22, 69, 49, 0.1);

  &__logo {
    font-family: 'Pacifico', cursive;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 28px;
    color: var(--darkerBlue);
    transition: color 150ms ease-in-out;

    &:hover {
      color: var(--lime);
    }

    @media (max-width: 64em) {
      span {
        display: none;
      }
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__links {
    display: none;
    padding: 0;
    margin: 0;
    list-style: none;

    @media (min-width: 64em) {
      display: flex;
      gap: 2rem;
    }
  }

  &__link {
    display: inline-block;
    position: relative;
    font-weight: 600;
    line-height: 1.25rem;
    transition: color 150ms ease-in-out;

    &::before {
      content: '';
      position: absolute;
      top: 1rem;
      left: 50%;
      translate: -50%;
      width: 0.25rem;
      height: 0.25rem;
      background-color: var(--lime);
      border-radius: 10rem;
      opacity: 0;
      transition: top 150ms 250ms ease-in-out, opacity 150ms 250ms ease-in-out,
        width 150ms 415ms ease-in-out;
    }

    &:hover {
      color: var(--lime);

      &::before {
        top: 2.725rem;
        opacity: 1;
        width: 100%;
      }
    }
  }

  &__hamburger {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border: 0;
    border-radius: 0.15rem;
    background-color: transparent;
    cursor: pointer;

    @media (min-width: 64em) {
      display: none;
    }

    span {
      display: inline-block;
      width: 1.5rem;
      height: 0.15rem;
      background-color: var(--darkerBlue);
      border-radius: 5rem;
      transition: background-color 150ms ease-in-out;

      &:not(:last-child) {
        margin-bottom: 0.25rem;
      }
    }

    &:hover span {
      background-color: var(--lime);
    }

    &:active {
      background-color: var(--opaqueGreen);
    }

    @media (min-width: 64em) {
      display: none;
    }
  }

  &__menu {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    text-align: end;
    background-color: var(--white);
    border-radius: 0 0 1rem 1rem;
    transition: top 350ms ease-in-out, visibility 350ms ease-in-out;

    &-btn {
      margin-left: auto;
      display: flex;
      flex-direction: column;
      padding: 0.5rem;
      border: 0;
      border-radius: 0.15rem;
      background-color: transparent;
      cursor: pointer;

      .stroke {
        display: inline-block;
        position: relative;
        width: 1.5rem;
        height: 0.15rem;
        background-color: var(--darkerBlue);
        border-radius: 5rem;
        transition: background-color 150ms ease-in-out;

        &:not(:last-child) {
          margin-bottom: 0.75rem;
        }

        &:first-child {
          rotate: 45deg;
          top: 0.45rem;
        }

        &:last-child {
          rotate: -45deg;
          bottom: 0.45rem;
        }
      }

      &:hover span {
        background-color: var(--lime);
      }

      &:active {
        background-color: var(--opaqueGreen);
      }
    }

    &-social {
      list-style: none;
      padding: 1rem;
      border-radius: 5rem;
      margin: 0;
      display: flex;
      align-items: center;
      gap: 1.25rem;

      &-link {
        display: grid;

        &:hover {
          color: var(--lime);
        }

        &:active {
          color: var(--pressed);
        }
      }

      i {
        font-size: 1.5rem;
      }
    }

    &-content {
      padding: 0.875rem 0 0;
      list-style: none;
      text-align: left;
      height: 70vh;
    }

    &-link {
      &-wrap {
        &:hover {
          .header__menu-link {
            left: 2rem;
            color: var(--lime);
          }
        }
      }

      display: inline-block;
      position: relative;
      font-size: 2rem;
      color: var(--darkerBlue);
      width: 100%;
      left: 0;
      padding: 1.25rem;
      font-weight: 600;
      transition: color 150ms ease-in-out, left 150ms ease-in-out;
    }
  }

  &__toggle {
    width: 2rem;
    height: 2rem;
    border: solid 2px var(--lightGrey);
    border-radius: 50%;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    transition: border-color 150ms ease-in-out,
      background-color 150ms ease-in-out;

    &-container {
      display: flex;
      align-items: center;
      gap: 0.75rem;
    }

    &-social {
      list-style: none;
      padding: 0.35rem;
      border: solid 2px var(--lightGrey);
      border-radius: 5rem;
      margin: 0;
      display: none;
      align-items: center;
      gap: 0.75rem;

      &-link {
        display: grid;

        &:hover {
          color: var(--lime);
        }
      }

      @media (min-width: 64em) {
        display: flex;
      }
    }

    &:hover {
      border-color: var(--lime);
      background-color: var(--opaqueGreen);
    }
  }
}
