.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 0.5rem 0.5rem 0;

  @media screen and (min-width: 40em) {
    padding: 1rem 1rem 0.25rem;
  }

  @media screen and (min-width: 64em) {
    padding: 1.5rem 1.5rem 0.5rem;
  }

  &__logo {
    font-family: var(--ff-pacifico);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 28px;
    color: var(--darkerBlue);
    transition: color 150ms ease-in-out;

    &:hover {
      color: var(--lime);
    }

    @media (max-width: 64em) {
      span {
        display: none;
      }
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px var(--lightGrey);
    border-radius: 0.5rem;
    background-color: var(--opaqueWhite);
    backdrop-filter: blur(10px);
    box-shadow: var(--shadow1);
  }

  &__links {
    display: none;
    padding: 0;
    margin: 0;
    list-style: none;

    @media (min-width: 64em) {
      display: flex;
      gap: 2rem;
    }
  }

  &__link {
    padding: 1.5rem 0;
    display: inline-block;
    position: relative;
    font-weight: 500;
    line-height: 1.25rem;
    transition: color 150ms ease-in-out;

    &::before {
      content: '';
      position: absolute;
      bottom: 1.5rem;
      left: 50%;
      translate: -50%;
      width: 0.25rem;
      height: 0.15rem;
      background-color: var(--lime);
      border-radius: 10rem;
      opacity: 0;
      transition: bottom 150ms 250ms ease-in-out,
        opacity 150ms 250ms ease-in-out, width 150ms 415ms ease-in-out;
    }

    &:hover {
      color: var(--lime);

      &::before {
        bottom: 0;
        opacity: 1;
        width: 100%;
      }
    }
  }

  &__hamburger {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border: 0;
    border-radius: 0.25rem;
    background-color: transparent;
    cursor: pointer;

    @media (min-width: 64em) {
      display: none;
    }

    span {
      position: relative;
      top: 0;
      display: inline-block;
      width: 1.5rem;
      height: 0.15rem;
      background-color: var(--darkerBlue);
      border-radius: 5rem;
      transition: background-color 150ms ease-in-out;

      &:not(:last-child) {
        margin-bottom: 0.25rem;
      }
    }

    &.hamburger__open {
      .stroke {
        transition: top 100ms ease-in-out, rotate 100ms 100ms ease-in-out,
          opacity 100ms 50ms ease-in-out;

        &.top {
          rotate: 45deg;
          top: 7px;
        }

        &.middle {
          opacity: 0;
        }

        &.bottom {
          rotate: -45deg;
          top: -6px;
        }
      }
    }

    &.hamburger__close {
      .stroke {
        transition: top 100ms 100ms ease-in-out, rotate 100ms ease-in-out,
          opacity 100ms 50ms ease-in-out;

        &.top {
          rotate: 0deg;
          top: 0;
        }

        &.middle {
          opacity: 1;
        }

        &.bottom {
          rotate: 0deg;
          top: 0;
        }
      }
    }

    &:hover span {
      background-color: var(--lime);
    }

    &:active {
      background-color: var(--opaqueGreen);
    }
  }

  &__menu {
    visibility: hidden;
    position: absolute;
    top: 110%;
    left: -1px;
    right: -1px;
    z-index: 1;
    text-align: end;
    border-radius: 0.5rem;
    border: solid 1px var(--lightGrey);
    background-color: var(--white);

    &.menu-open {
      animation: menu-open 150ms ease-in-out 0ms 1 forwards;
    }

    &.menu-close {
      animation: menu-close 150ms ease-in-out 0ms 1 forwards;
    }

    &-social {
      justify-content: start;
    }

    &-content {
      padding: 0.875rem 0 0;
      list-style: none;
      text-align: left;
      height: 70vh;
    }

    &-link {
      &-wrap {
        &:hover {
          .header__menu-link {
            left: 2rem;
            color: var(--lime);
          }
        }
      }

      display: flex;
      align-items: center;
      gap: 1.25rem;
      position: relative;
      font-size: 2rem;
      color: var(--darkerBlue);
      width: 100%;
      left: 0;
      padding: 1.25rem;
      font-weight: 600;
      transition: color 150ms ease-in-out, left 150ms ease-in-out;

      i {
        font-size: 1.5rem;
      }
    }
  }

  &__toggle {
    width: 2rem;
    height: 2rem;
    border: solid 1px var(--lightGrey);
    border-radius: 0.25rem;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    transition: border-color 150ms ease-in-out,
      background-color 150ms ease-in-out;

    &-container {
      padding: 1rem 0;
      display: flex;
      align-items: center;
      gap: 0.75rem;
    }

    &:hover {
      border-color: var(--lime);
      background-color: var(--opaqueGreen);
    }
  }
}
