// Rotate fade
@keyframes rotate-fade {
  from {
    perspective: 1000px;
    opacity: 0;
    rotate: y -90deg;
  }

  50% {
    opacity: 1;
  }

  to {
    perspective: 1000px;
    opacity: 1;
    rotate: y 0deg;
  }
}

@keyframes grow {
  from {
    opacity: 0;
    scale: 0;
  }

  85% {
    opacity: 0;
    scale: 0;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }

  65% {
    opacity: 0;
    translate: 0 -1rem;
  }

  to {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes fade-slide-up {
  from {
    translate: 0 1rem;
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  35% {
    opacity: 0;
    translate: 0 1rem;
  }

  to {
    opacity: 1;
    translate: 0 0;
  }
}

/* Header menu keyframes */

@keyframes appear-visible {
  from {
    visibility: hidden;
    opacity: 0;
  }

  1% {
    visibility: visible;
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes disappear-hidden {
  from {
    visibility: visible;
    opacity: 1;
  }

  99% {
    visibility: visible;
    opacity: 0;
  }

  to {
    visibility: hidden;
    opacity: 0;
  }
}
