.popup {
  visibility: hidden;
  position: absolute;
  padding-top: 2rem;
  text-align: left;
  width: 85%;
  left: 50%;
  translate: -50%;
  z-index: 1010;

  @media (min-width: 40em) {
    padding-top: 4rem;
  }

  &__cancel-btn {
    text-align: right;

    &_icon {
      padding: 0.25rem;
      border-radius: 0.35rem;
      cursor: pointer;
      background-color: var(--white);
      transition: background-color 150ms ease-in-out;

      &:hover {
        background-color: rgb(247, 57, 57);
      }
    }
  }

  &__content {
    padding: 1rem;
    height: 85vh;
    overflow-y: scroll;
    background-color: var(--white);
    border: 2px solid var(--grey);
    border-radius: 0.5rem;

    @media (min-width: 40em) {
      padding: 1.5rem;
      height: 80vh;
    }

    &-text {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 0.75rem;

      @media (min-width: 64em) {
        grid-template-columns: 3fr 1fr;
        grid-template-rows: repeat(3, auto);
        grid-gap: 1.25rem;
        padding-top: 1.5rem;
      }
    }
  }

  &__image {
    padding: 1rem;
    border-radius: 0.4rem;
    background-color: var(--lightGrey);

    img {
      width: 100%;
      border-radius: 0.3rem;
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.75rem;

    @media (min-width: 64em) {
      grid-column: 1/2;
      grid-row: 1/2;
    }
  }

  &__languages {
    justify-content: start;

    @media (min-width: 64em) {
      grid-column: 1/3;
      grid-row: 2/3;
    }
  }

  &__language {
    --btn-bg: var(--lightGrey);
    --btn-hover: var(--grey);
    --btn-pressed: var(--lightGreen);
  }

  &__description {
    margin: 0;

    @media (min-width: 64em) {
      grid-column: 1/3;
      grid-row: 3/4;
      padding-top: 0.75rem;
    }
  }

  &__ctas {
    display: flex;
    gap: 0.75rem;

    @media (min-width: 64em) {
      grid-column: 2/3;
      grid-row: 1/2;
    }
  }

  &__cta {
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }
}