.project {
  padding-top: 4rem;

  @media (min-width: 40em) {
    padding-top: 8.5rem;
  }

  &__title {
    position: relative;
    margin-bottom: 5.625rem;

    @media (min-width: 40em) {
      position: relative;
      margin-bottom: 3.25rem;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: -1.5rem;
      left: 50%;
      translate: -50%;
      height: 0.25rem;
      width: 3rem;
      background-color: var(--lime);
      border-radius: 3rem;

      @media (min-width: 40em) {
        display: none;
      }
    }
  }

  &__card {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 29.625rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    top: 0;
    transition: 200ms box-shadow ease-in-out;

    &:first-child {
      background-image: url('../../images/projects/Awesome-book-card.svg');
    }

    &:nth-child(2) {
      background-image: url('../../images/projects/ALT-conference-card.svg');
    }

    &:nth-child(3) {
      background-image: url('../../images/projects/todo_app_card.svg');
    }

    &:nth-child(4) {
      background-image: url('../../images/projects/budgettrail_card.svg');
    }

    &:nth-child(5) {
      background-image: url('../../images/projects/space_card.svg');
    }

    &:nth-child(6) {
      background-image: url('../../images/projects/blog_card.svg');
    }

    &:hover,
    &:focus-within {
      box-shadow: 0 6px 20px 3px rgba(0, 0, 0, 0.15);
    }

    &-text {
      padding: 0.6875rem;
      background-color: var(--white);
      border-radius: 0.5rem 0.5rem 0 0;
    }

    &-title {
      margin-bottom: 1rem;
    }

    &-btns {
      --btn-bg: var(--lightGrey);
    }
  }

  &__cta {
    margin-top: 1.875rem;
    margin-bottom: 0.8125rem;
  }
}
