.project {
  padding-top: 4rem;
  padding-bottom: 4rem;

  @media (min-width: 40em) {
    padding-top: 5rem;
    padding-bottom: 7.5rem;
  }

  &__title {
    @media (min-width: 40em) {
      position: relative;
      margin-bottom: 3.25rem;
    }
  }

  &__list {
    max-width: 29.875em;
    margin: 0 auto;

    @media (min-width: 64em) {
      max-width: 61.25rem;
    }
  }

  &__card {
    --btn-bg: var(--lightGrey);

    border: solid 2px var(--lightGrey);
    border-radius: 0.5rem;
    background-color: var(--white);
    opacity: 0;
    transition: border 150ms ease-in-out, background-color 150ms ease-in-out;

    &.animate {
      &:first-child {
        animation: fade-slide-up 1000ms ease-in-out 0ms 1 forwards;
      }

      &:nth-child(2) {
        animation: fade-slide-up 1000ms ease-in-out 0ms 1 forwards;
      }

      &:nth-child(3) {
        animation: fade-slide-up 1000ms ease-in-out 0ms 1 forwards;
      }

      &:nth-child(4) {
        animation: fade-slide-up 1000ms ease-in-out 0ms 1 forwards;
      }
    }

    &-title {
      color: currentColor;

      @media (hover: none) {
        color: var(--darkBlue);
      }
    }

    &-image {
      padding: 0.25rem;
      height: 12rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.25rem;
        border: solid 1px transparent;
        transition: border 150ms ease-in-out;
      }
    }

    &:hover,
    &:focus-within {
      border: solid 2px var(--opaqueGreen);
      background-color: var(--opaqueDark);

      .project__card {
        &-title {
          color: var(--darkerBlue);
        }

        &-image img {
          border: solid 1px var(--lightGrey);
        }
      }
    }

    &-content {
      border-top: solid 2px var(--lightGrey);
      padding: 1rem 1rem 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    &-cta-wrap {
      display: grid;
      place-items: center;
    }
  }
}
