h1,
h2,
h3,
h4 {
  color: var(--darkerBlue);
  margin: 0;
  font-weight: 500;
}

a,
a::before,
a::after {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

p {
  margin-top: 0;
}

.section {
  text-align: center;

  &__overlay {
    position: absolute;
    inset: 0;
    backdrop-filter: blur(5px);
  }

  &__title {
    position: relative;
    font-size: 1.75rem;
    line-height: 2.5rem;
    padding-bottom: 1rem;
    margin-bottom: 2.5rem;

    @media (min-width: 40em) {
      font-size: 2.5rem;
      line-height: 3.25rem;
      margin-bottom: 3.5rem;
    }

    &::before {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      translate: -50%;
      height: 0.15rem;
      width: 3rem;
      background-color: var(--lime);
      border-radius: 3rem;

      @media (min-width: 40em) {
        height: 0.25rem;
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;

    @media (min-width: 64em) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__cta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    color: var(--white);
    border-radius: 0.25rem;
    border: 0;
    background-color: var(--lime);
    cursor: pointer;
    box-shadow: var(--shadowLime1);
    transition: background-color 150ms ease-in-out, box-shadow 150ms ease-in-out,
      scale 150ms ease-in-out;

    i {
      position: relative;
      left: 0;
      transition: left 350ms ease-in-out;
    }

    &:hover {
      box-shadow: var(--shadowLime2);

      i {
        left: 0.25rem;
      }
    }

    &:active {
      background-color: var(--pressed);
      box-shadow: var(--shadowLime1);
      scale: 0.95;
    }
  }

  &__card {
    position: relative;
    padding: 0.75rem;
    margin: 0 auto;
    width: 100%;
    max-width: 23.0625rem;
    border-radius: 0.5rem;
    border: solid 2px var(--lightGrey);
    background-color: var(--lightGrey);
    overflow: hidden;

    &-title {
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 2rem;
    }

    &-btns {
      padding: 0;
      margin: 0;
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      flex-wrap: wrap;
    }

    &-btn {
      display: inline-block;
      padding: 0.5rem 0.75rem;
      font-weight: 600;
      font-size: 0.75rem;
      line-height: 1rem;
      letter-spacing: 0.03em;
      background-color: var(--btn-bg);
      border-radius: 0.25rem;
      pointer-events: none;
    }
  }
}

.container {
  min-width: 20rem;
  max-width: 90rem;
  margin: auto;

  &-pall {
    padding: 0.5rem;

    @media (min-width: 40em) {
      padding: 1rem;
    }

    @media (min-width: 64em) {
      padding: 1.5rem;
    }
  }

  &-px {
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    @media (min-width: 40em) {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    @media (min-width: 64em) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
}

.social {
  &-wrap {
    margin: 0;
    list-style: none;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
  }

  &-sm {
    display: none;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    border: solid 1px var(--lightGrey);
    margin: 0;
    gap: 0.75rem;

    @media (min-width: 64em) {
      display: flex;
    }
  }

  &-link {
    display: grid;

    &:hover {
      color: var(--lime);
    }

    &:active {
      color: var(--pressed);
    }
  }
}
